﻿body {
    font : normal 12px tahoma, arial, verdana;
    
}

.white-menu .x-menu
{
    background: #FFFFFF !important;
    
}

.username
{
    font-weight: 900;
    color: #F08080;    
}
 .test
{
    color: #7C92C2;
}

.appname
{
 font: normal 15px tahoma, arial, verdana;
 color: #20B2AA;
 
    }

.x-window-mc
{
    background-color: #F4F4F4 !important;
    
}

.title-label{
  color:black;
}

.x-theme-slate .title-label{
  color:white;
    
}

.textfield
{
   margin-top:16px;
}  
.red
{
   color:Red;
}

.muahang {
    background-image: url(/Resources/Images/Icon/muahang.png) !important;    
    float:left;   
}        
.shop {
    background-image: url(/Resources/Images/Icon/shop.png) !important;    
    float:left;   
}        
.thuchi{
     background-image: url(/Resources/Images/Icon/thuchi.png) !important;    
     float:left;   
}        
.transfer
{
     background-image: url(/Resources/Images/Icon/transfer.png) !important;    
     float:left;  
}
.invoice{
     background-image: url(/Resources/Images/Icon/invoice.png) !important;    
     float:left;   
}
.cart{
     background-image: url(/Resources/Images/Icon/cart.png) !important;    
     float:left;   
}
.mavach{
     background-image: url(/Resources/Images/Icon/mavach.png) !important;    
     float:left;   
}
.money{
     background-image: url(/Resources/Images/Icon/money.png) !important;    
     float:left;   
}
.weight{
     background-image: url(/Resources/Images/Icon/weight.png) !important;    
     float:left;   
}
.group{
     background-image: url(/Resources/Images/Icon/group.png) !important;    
     float:left;   
}
.chart{
     background-image: url(/Resources/Images/Icon/chart.png) !important;    
     float:left;   
}
.book{
     background-image: url(/Resources/Images/Icon/book.png) !important;    
     float:left;   
}
.offer{
     background-image: url(/Resources/Images/Icon/offer.png) !important;    
     float:left;   
}
.visa{
     background-image: url(/Resources/Images/Icon/visa.png) !important;    
     float:left;   
}
.payment{
     background-image: url(/Resources/Images/Icon/payment.png) !important;    
     float:left;   
}
.right 
{
    text-align:right;
    }

